h1 {
	display: inline-block;
	width: 90%;
}
button {
	font-size: 16px;
	display: inline-block;
}

div {
	font-size: 16px;
	font-style: Helvetica;
	padding: 4px;
}

.user,
.message,
.time{
	display: inline-block;
}
.user,
.time{
	width: 20%;
}
.message{
	width: 60%;
}


.tweetdiv:before,
.tweetdiv:after {
  content: "";
  display: table;
}
.tweetdiv:after {
  clear: both;
}
.tweetdiv {
  clear: both;
  *zoom: 1;
}
.tweetdiv:nth-child(even) {
	background-color: white;
}
.tweetdiv:nth-child(odd) {
	background-color: lightblue;
}